.venv
.vscode
.claude
values.yaml
scratch
inventory.yaml
*artifact*
*scratch*
*.log
*.iso
build-args.txt
notes.txt
kickstarts/josh-testing.ks
*.env
pull-secret*
pullsecret*
oc-mirror*
workloads/StepServoDrive/Step-Servo-Quick-Tuner-Setup-3.0.21.1120(AMP).exe
