[Unit]
Description=Run sno_off ansible playbook daily at night

[Timer]
OnCalendar=Mon..Fri 18:00:00 Europe/Paris
Unit=sno_off.service

[Install]
WantedBy=timers.target
